.Tag {
  border: thin solid white;
  border-radius: 12px;
  padding: 5px 10px;
  margin: 3px;
}

.Cartridge {
  text-align: center;
}

.Cartridge .card-text {
  text-align: left;
  display: flex;
  flex-wrap: wrap;
}

.CartridgeThumb {
  max-width: 400px;
  max-height: 400px;
}
