.Error {
  background-color: #EF5350;
  padding: 10px 20px;
}

.Error:empty {
  display: none;
}

.CleanLink {
  text-decoration: none;
  color: white;
}

.CleanLink:hover {
  color: white;
}

.CleanLink:focus {
  color: white;
}

.alert:empty {
  display: none;
}

.InvertColor {
  color: black;
}

.cs-primary-bg-color {
  background-color: #1a1a1a;
}

.AppTitle {
  margin-top: 5vh;
  margin-bottom: 10vh;
}
